---
import NavBar from "../components/NavBar.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import FAQ from "../components/FAQ.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Horizons Crux</title>
  </head>
  <body class="flex flex-col">
    <NavBar />
    <Hero />
    <About />
    <FAQ />
  </body>
</html>
