<div
  id="about"
  class="flex flex-col py-10 bg-blue-900 items-center text-white"
>
  <div class="flex flex-col max-w-xl w-full px-4 gap-5">
    <div>
      <h1 class="text-2xl mb-4">So, What Is Horizons Crux?</h1>
      <h2 class="text-xl font-bold mb-2">Overview</h2>
    </div>
    <p>
      From July 10th to 12th, 100 students will gather in Sydney for a
      hackathon. Horizons Crux is organized by Hack Club, a 501(c)(3) nonprofit
      that supports a global community of over 50,000 high school makers.
    </p>
    <p>
      Qualify via coding for 35 hours, and you will join 100 other high
      schoolers in Sydney for a hackathon like no other.
    </p>
    <p>
      Food and accommodation will be fully funded, alongside local transport and
      custom merchandise. There are flight stipends available, too. This program
      is a grant-based initiative eligible for all high/middle schoolers aged
      13-18 from all over the world.
    </p>

    <p><i>*100 is just an estimated number — there's no limit!</i></p>
  </div>
</div>
