---
import "../styles/global.css";
const logo = "/logo.png";
---

<div id="hero" class="min-h-full">
    <img id="hero-logo" src={logo} class="w-100" />
</div>

<style>
    #hero {
        background-image: url("/hero-bg.png");
    }
</style>
