---
const logo = "/logo.png";
---

<div id="hero">
  <img id="hero-logo" src={logo} />
</div>

<style>
  #hero {
    background-image: url("/hero-bg.png");
    min-height: 100vh;
  }

  #hero-logo {
    width: 400px;
    height: 233px;
  }
</style>
