---
const logo = "/logo.png";
---

<nav class="inline-flex pl-2.5 pr-2.5 items-center min-w-full bg-[#0a0a53]">
  <img id="nav-logo" class="h-30" src={logo} alt="Horizons Crux logo" />

  <div id="nav-links" class="flex items-end gap-9 ml-auto text-white">
    <a href="#about">About</a>
    <a href="#faq">FAQ</a>
    <a href="#qualify">Qualify</a>
    <a href="#sponsors">Sponsors</a>
  </div>
</nav>
